<?xml version ="1.0"?>

<configuration>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System" culture="neutral" publicKeyToken="969db8053d3322ac" retargetable="true"/>

        <bindingRedirect oldVersion="1.0.5000.0" newVersion="2.0.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Drawing" culture="neutral" publicKeyToken="969db8053d3322ac" retargetable="true"/>

        <bindingRedirect oldVersion="1.0.5000.0" newVersion="2.0.0.0"/>

      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="System.Windows.Forms" culture="neutral" publicKeyToken="969db8053d3322ac" retargetable="true"/>

        <bindingRedirect oldVersion="1.0.5000.0" newVersion="2.0.0.0"/>

      </dependentAssembly>



    </assemblyBinding>


  </runtime>

</configuration>
